<a href="https://colab.research.google.com/github/vaishnavilawaniya756-web/SHARMA/blob/main/lAWANIYA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first_number=10
second_number=20
print(first_number+second_number)

30

In [ ]:
first_number=50
second_number=60
third_number=70
sum=first_number+second_number+third_number
print("sum: ",sum)
print("______")
subtract=first_number-second_number-third_number
print("sub: ",subtract)

sum:  180
______
sub:  -80

In [ ]:
number1=int(input("first number"))
number2=int(input("second number"))
total=number1+number2
print(total)

first number20
second number30
50

In [ ]:
a=500
b=100
sum=a+b
print("sum =",sum)
sub=a-b
print("sub =",sub)
multiply=a*b
print("multiply =",multiply)
divide=a/b
print("divide =",divide)

sum = 600
sub = 400
multiply = 50000
divide = 5.0

In [ ]:
#restaurant billing project
item1="pizza"
price_of_item1=500
item2="burger"
price_of_item2=100
item3="coke"
price_of_item3=80
item4="cold_coffee"
price_of_item4=200
item5="fries"
price_of_item5=120
discount_on_pizza=50
discount_on_burger=10
discount_on_coke=8
discount_on_cold_coffee=20
discount_on_fries=12
name="vaishnavi"
house_no=3345
mobile_no=7302080109
total_bill=(price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5)
total_discount=(discount_on_pizza+discount_on_burger+discount_on_coke+discount_on_cold_coffee+discount_on_fries)
payable_bill=total_bill-total_discount

print(".........cool cafe........")
print("...receipt...")
print(item1,"=",price_of_item1)
print(item2,"=",price_of_item2)
print(item3,"=",price_of_item3)
print(item4,"=",price_of_item4)
print(item5,"=",price_of_item5)
print("-------------")
print("dis on pizza: ",discount_on_pizza)
print("dis on burger: ",discount_on_burger)
print("dis on coke: ",discount_on_coke)
print("dis on cold coffee: ",discount_on_cold_coffee)
print("dis on fries: ",discount_on_fries)
print("------------")
print("total_bill :",total_bill)
print("total discount:",total_discount)
print("---------")
print("payable_bill :",payable_bill)
print("-------------------")
print("----------delivery_address-------")
print("name",name)
print("house_no: ",house_no)
print("mobile_no",mobile_no)

.........cool cafe........
...receipt...
pizza = 500
burger = 100
coke = 80
cold_coffee = 200
fries = 120
-------------
dis on pizza:  50
dis on burger:  10
dis on coke:  8
dis on cold coffee:  20
dis on fries:  12
------------
total_bill : 1000
total discount: 100
---------
payable_bill : 900
-------------------
----------delivery_address-------
name vaishnavi
house_no:  3345
mobile_no 7302080109

In [ ]:
item1=input(" item1: ")
item2=input(" item2: ")
item3=input(" item3: ")
item4=input(" item4: ")
item5=input(" item5: ")
item1=int(input(" price of pizza: "))
item2=int(input(" price of burger:  "))
item3=int(input(" price of coke: "))
item4=int(input(" price of cold coffee: "))
item5=int(input(" price of fries: "))
item1=int(input("discount on pizza: "))
item2=int(input("discount on burger: "))
item3=int(input("discount on coke: "))
item4=int(input("discount on cold coffee: "))
item5=int(input("discount on fries: "))
bill=int(input("total bill= "))
dis=int(input("total discount= "))
payable_amount=int(input("payable amount= "))

 item1: pizza
 item2: burger
 item3: coke
 item4: cold coffee
 item5: fries
 price of pizza: 500
 price of burger:  100
 price of coke: 80
 price of cold coffee: 200
 price of fries: 120
discount on pizza: 50
discount on burger: 10
discount on coke: 8
discount on cold coffee: 20
discount on fries: 12
total bill= 1000
total discount= 100
payable amount= 900
---------

In [ ]:
a=int(input("enter value of a"))
b=int(input("enter value of b"))
sum=a+b
print("sum",sum)
multiply=a*b
print("multiply", multiply)
divide=a/b
print("divide",divide)
subtract=a-b
print("subtract",subtract)

enter value of a40
enter value of b45
sum 85
multiply 1800
divide 0.8888888888888888
subtract -5

In [ ]:
x=int(input("enter number"))

if x % 2==0:
  print("even")
else:
  print("odd")

enter number8
even

In [ ]:
x=int(input("enter number"))
if x % 2==0:
  print("even")
else:
  print("odd")

enter number85
odd

In [ ]:
product1= input("product1 = ")
price_of_product1= int(input("price = "))
dis_on_product1= int(input("discount = "))
discount_on_product1= price_of_product1*dis_on_product1/100
final_price_of_product1= price_of_product1-discount_on_product1
print(final_price_of_product1)
print("-----------------")

product2=input("product2 = ")
price_of_product2=int(input("price of product2 = "))
dis_on_product2=int(input("discount = "))
discount_on_product2=price_of_product2*dis_on_product2/100
final_price_of_product2=price_of_product2-discount_on_product2
print(final_price_of_product2)
print("----------------")

product3=input("product3 = ")
price_of_product3=int(input("price of product3 = "))
dis_on_product3=int(input("discount = "))
discount_on_product3=price_of_product3*dis_on_product3/100
final_price_of_product3=price_of_product3-discount_on_product3
print(final_price_of_product3)
print("----------------")

product4=input("product4 = ")
price_of_product_4=int(input("price of product4 = "))
dis_on_product4=int(input("discount = "))
discount_on_product4=price_of_product_4*dis_on_product4/100
final_price_of_product4=price_of_product_4-discount_on_product4
print(final_price_of_product4)
print("----------------")

total_bill=price_of_product1+price_of_product2+price_of_product3+price_of_product_4
payable_amount=final_price_of_product1+final_price_of_product2+final_price_of_product3+final_price_of_product4
print("total_bill = ",total_bill)
print("------")
print("payable amount = ",payable_amount)
print("---------------------------")

print("__________delivery address__________")
name=input("name = ")
address=input("address_ ")
mobile_no=int(input("mobile no_ "))
print("______thank_you______")

product1 = smart watch
price = 1200
discount = 10
1080.0
-----------------
product2 = laptop
price of product2 = 38000
discount = 10
34200.0
----------------
product3 = mixer grinder
price of product3 = 1000
discount = 10
900.0
----------------
product4 = sun glasses
price of product4 = 850
discount = 10
765.0
----------------
total_bill =  41050
------
payable amount =  36945.0
---------------------------
__________delivery address__________
name = anshika
address_ chandigarh
mobile no_ 7302080109
______thank_you______

In [ ]:
address=input("address_ ")

address_ 3345,sector21d,chandigarh

In [ ]:
item1=input("item1: ")
price1=int(input("price: "))
discount1=int(input("discount: "))
discount_on_item1=price1*discount1/100
final_price_of_item1=price1-discount_on_item1
print(final_price_of_item1)
print("--------")

item2=input("item2: ")
price2=int(input("price: "))
discount2=int(input("discount: "))
discount_on_item2=price2*discount2/100
final_price_of_item2=price2-discount_on_item2
print(final_price_of_item2)
print("--------")

total_bill=price1+price2
total_discount=discount_on_item1+discount_on_item2
total_bill_after_discount=final_price_of_item1+final_price_of_item2
print(total_bill)
print(total_discount)
print("--------")
print(total_bill_after_discount)
delivery_charges=int(input("delivery charges"))
payable_amount=total_bill_after_discount+delivery_charges
print(delivery_charges)
print("--------")
print(payable_amount)
print("------------------")

print("________delivery address________")
name=input("name: ")
address=input("address_ ")
mobile_no=int(input("mobile no_ "))
print("------------")

item1: pizza
price: 250
discount: 10
225.0
--------
item2: coke
price: 80
discount: 10
72.0
--------
330
33.0
--------
297.0
delivery charges60
60
--------
357.0
------------------
________delivery address________
name: vaishnavi
address_ 3345,sector21d,chandigarh
mobile no_ 7302080109
------------

In [ ]:
colour=input("colour: ")
if colour=="red":
  print("stop")
else:
  print("move")

colour: red
stop

In [ ]:
colour=input("colour: ")
if colour=="yellow" or "blue":
  print("happy")
else:
  print("sad")
print("--------")

colour=input("colour: ")
if colour=="green":
  print("stop")
elif colour=="pink":
  print("stop")
else:
  print("move")

colour: yellow
happy
--------
colour: white
move

In [ ]:
gender=input("gender= ")
if gender=="male":
 print("monday, wednesday,friday")
else:
  print("tuesday, thursday, saturday")

gender= female
tuesday, thursday, saturday

In [ ]:
gender=input("gender= ")
if gender=="male":
  print("go")
else:
  print("come")

gender= female
come

In [ ]:
principal_amount=int(input("principal amount"))
rate=int(input("rate"))
time=int(input("time"))
amount=(principal_amount*rate*time)/100
print(amount)

principal amount500
rate4
time5
100.0

In [ ]:
principal=int(input("principal: "))
rate=int(input("rate: "))
month=int(input("month: "))
time_in_days=int(input("time in days"))
time_in_month=(time_in_days/30)
amount=principal*rate*time/100
si=principal*rate*time*time_in_month/100
print(amount)
print(si)
print(amount+si)

principal: 500
rate: 4
month: 5
time in days5
100.0
16.666666666666664
116.66666666666666

In [ ]:
principal=int(input("principal: "))
rate=int(input("rate: "))
time=int(input("month: "))
days=int(input("days: "))
time_in_month=days/30
amount=(principal*rate*time)/100
si=(principal*rate*time*time_in_month/100)
print(amount)
print(si)
print(amount+si)

principal: 15000
rate: 5
month: 6
days: 20
4500.0
3000.0
7500.0

In [ ]:
marks=input("marks: ")
if marks>"30":
 print("pass")
else:
  print("fail")

marks: 55
pass

In [ ]:
principal=40000
rate=10
time_in_months=8
time_in_days=25
print("principal= ",principal)
print("rate= ",rate)
print("time in months =",time_in_months)
print("time in days= ",time_in_days)
total_time=time_in_days/30
amount=principal*rate*time/100
si=principal*rate*time_in_month*total_time/100
print(total_time)
print(amount)
print(si)
print(amount+si)

principal=  40000
rate=  10
time in months = 8
time in days=  25
0.8333333333333334
24000.0
2222.2222222222217
26222.222222222223

In [ ]:
principal=int(input("principal"))
rate=int(input("rate"))
time=int(input("time"))
month=input("month")
days=int(input("days"))
year=int(input("year"))
if month=="jan" or month=="march" or month=="may" or month=="july" or month=="august" or month=="october" or month=="december":
 days_in_month=31
elif month=="april" or month=="june" or month=="september" or month=="november":
  days_in_month=30
if year % 4 ==0 and  year % 100 !=0 or year % 400 ==0:
  days_in_month=29
else:
  days_in_month=28
total_time=days/days_in_month
print(total_time)
amount=principal*rate*time/100
si=principal*rate*time*days_in_month/100
print("amount_", amount)
print("si_",si)
print("total_" ,amount+si)

principal40000
rate10
time5
monthjuly
days10
year2024
0.3448275862068966
amount_ 20000.0
si_ 580000.0
total_ 600000.0

In [ ]:
number=int(input("number= "))
if number % 2==0:
  print("even")
else:
    print("odd")

number= 60
even

In [ ]:
number=int(input("number"))
if number % 7==0 and number % 5==0:
  print("divisible")
else:
  print("not divisible")

number35
divisible

In [ ]:
gender=input("gender")
age=int(input("age"))
if gender=="male":
 print("hotel a")
 if age>30:
  print("building1")
 else:
  print("building2")
else:
  print("hotel b")
  if age>30:
    print("building1")
  else:
    print("building2")

genderfemale
age35
hotel b
building1

In [ ]:
month=input("month_")
days=int(input("days"))
if month=="jan" or month=="march" or month=="may" or month=="july" or month=="august" or month=="october" or month=="december":
 days_in_month=31
elif month=="april" or month=="june" or month=="september" or month=="november":
  days_in_month=30
else:
  days_in_month=28
print("days_in_month",days_in_month)
print(days/days_in_month)

month_july
days10
days_in_month 31
0.3225806451612903

In [ ]:
year=int(input("year"))
if year % 4 ==0 and  year % 100 !=0 or year % 400 ==0:
  days_in_month=29
else:
  days_in_month=28
print("days in month:",days_in_month)

year2025
days in month: 28

In [ ]:
#traffic light system
print("direction= north")
print("----------------")
print("north incoming: go ")
print("south outgoing: go")
print("west outgoing: go")
print("east outgoing: go")
print("north outgoing: go")
print("east incoming: stop")
print("south incoming: stop")
print("west incoming: stop")
print("__________________")
print("direction= south")
print("---------------")
print("south incoming: go")
print("west outgoing: go")
print("north outgoing: go")
print("east outgoing: go")
print("south outgoing: go")
print("west incoming: stop")
print("north incoming: stop")
print("east incoming: stop")
print("__________________")
print("direction= east")
print("--------------")
print("east incoming: go")
print("south outgoing: go")
print("west outgoing: go")
print("north outgoing: go")
print("east outgoing: go")
print("south incoming: stop")
print("west incoming: stop")
print("north incoming: stop")
print("__________________")
print("direction= west")
print("--------------")
print("west incoming: go")
print("north outgoing: go")
print("east outgoing: go")
print("south outgoing: go")
print("west outgoing: go")
print("north incoming: stop")
print("east incoming: stop")
print("south incoming: stop")
print("________________")

direction= north
----------------
north incoming: go
south outgoing: go
west outgoing: go
east outgoing: go
north outgoing: go
east incoming: stop
south incoming: stop
west incoming: stop
__________________
direction= south
---------------
south incoming: go
west outgoing: go
north outgoing: go
east outgoing: go
south outgoing: go
west incoming: stop
north incoming: stop
east incoming: stop
__________________
direction= east
--------------
east incoming: go
south outgoing: go
west outgoing: go
north outgoing: go
east outgoing: go
south incoming: stop
west incoming: stop
north incoming: stop
__________________
direction= west
--------------
west incoming: go
north outgoing: go
east outgoing: go
south outgoing: go
west outgoing: go
north incoming: stop
east incoming: stop
south incoming: stop
________________

In [ ]:
direction=input("direction= ")
if direction=="north incoming" or direction=="east outgoing" or direction=="south outgoing" or direction=="west outgoing" or direction=="north outgoing":
  print("open")
elif direction=="east incoming" or direction=="south incoming" or direction=="west incoming":
  print("close")
else:
  print("invalid direction")
print("_______")
direction=input("direction= ")
if direction=="south incoming" or direction=="west outgoing" or direction=="north outgoing" or direction=="east outgoing" or direction=="south outgoing":
  print("open")
elif direction=="west incoming" or direction=="north incoming" or direction=="east incoming":
  print("close")
else:
   print("invalid direction")
print("______")
direction=input("direction= ")
if direction=="west incoming" or direction=="north outgoing" or direction=="east outgoing" or direction=="south outgoing" or direction=="west outgoing":
  print("open")
elif direction=="north incoming" or direction=="east incoming" or direction=="south incoming":
  print("close")
else:
  print("invalid direction")
print("______")
direction= input("direction= ")
if direction=="east incoming" or direction=="south outgoing" or direction=="west outgoing" or direction=="north outgoing" or direction=="east outgoing":
  print("open")
elif direction=="south incoming" or direction=="west incoming" or direction=="north incoming":
  print("close")
else:
  print("invalid direction")

direction= north incoming
open
_______
direction= west incoming
close
______
direction= south incoming
close
______
direction= east incoming
open

In [6]:
#loop
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range (0,10,2):
  print(i)

0
2
4
6
8

In [10]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [20]:
sum=0
for i in range(1,11):
  sum=sum+i
print(sum)

55

In [21]:
sum=0
for i in range(1,11,2):
  sum=sum+i
print(sum)

25

In [22]:
sum=0
for i in range(2,13,2):
  sum=sum+i
print(sum)

42

In [24]:
factorial=1
for i in range(1,6):
  factorial=factorial*i
  print(factorial)

1
2
6
24
120

In [29]:
factorial=1
sum=0
for i in range(1,6):
  factorial=factorial*i
  sum=sum+factorial
print(factorial)
print(sum)

120
153