<a href="https://colab.research.google.com/github/vaishnavilawaniya756-web/SHARMA/blob/main/lAWANIYA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first_number=10
second_number=20
print(first_number+second_number)

30

In [ ]:
first_number=50
second_number=60
third_number=70
sum=first_number+second_number+third_number
print("sum: ",sum)
print("______")
subtract=first_number-second_number-third_number
print("sub: ",subtract)

sum:  180
______
sub:  -80

In [ ]:
number1=int(input("first number"))
number2=int(input("second number"))
total=number1+number2
print(total)

first number20
second number30
50

In [ ]:
a=500
b=100
sum=a+b
print("sum =",sum)
sub=a-b
print("sub =",sub)
multiply=a*b
print("multiply =",multiply)
divide=a/b
print("divide =",divide)

sum = 600
sub = 400
multiply = 50000
divide = 5.0

In [ ]:
#restaurant billing project
item1="pizza"
price_of_item1=500
item2="burger"
price_of_item2=100
item3="coke"
price_of_item3=80
item4="cold_coffee"
price_of_item4=200
item5="fries"
price_of_item5=120
discount_on_pizza=50
discount_on_burger=10
discount_on_coke=8
discount_on_cold_coffee=20
discount_on_fries=12
name="vaishnavi"
house_no=3345
mobile_no=7302080109
total_bill=(price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5)
total_discount=(discount_on_pizza+discount_on_burger+discount_on_coke+discount_on_cold_coffee+discount_on_fries)
payable_bill=total_bill-total_discount

print(".........cool cafe........")
print("...receipt...")
print(item1,"=",price_of_item1)
print(item2,"=",price_of_item2)
print(item3,"=",price_of_item3)
print(item4,"=",price_of_item4)
print(item5,"=",price_of_item5)
print("-------------")
print("dis on pizza: ",discount_on_pizza)
print("dis on burger: ",discount_on_burger)
print("dis on coke: ",discount_on_coke)
print("dis on cold coffee: ",discount_on_cold_coffee)
print("dis on fries: ",discount_on_fries)
print("------------")
print("total_bill :",total_bill)
print("total discount:",total_discount)
print("---------")
print("payable_bill :",payable_bill)
print("-------------------")
print("----------delivery_address-------")
print("name",name)
print("house_no: ",house_no)
print("mobile_no",mobile_no)

.........cool cafe........
...receipt...
pizza = 500
burger = 100
coke = 80
cold_coffee = 200
fries = 120
-------------
dis on pizza:  50
dis on burger:  10
dis on coke:  8
dis on cold coffee:  20
dis on fries:  12
------------
total_bill : 1000
total discount: 100
---------
payable_bill : 900
-------------------
----------delivery_address-------
name vaishnavi
house_no:  3345
mobile_no 7302080109

In [ ]:
item1=input(" item1: ")
item2=input(" item2: ")
item3=input(" item3: ")
item4=input(" item4: ")
item5=input(" item5: ")
item1=int(input(" price of pizza: "))
item2=int(input(" price of burger:  "))
item3=int(input(" price of coke: "))
item4=int(input(" price of cold coffee: "))
item5=int(input(" price of fries: "))
item1=int(input("discount on pizza: "))
item2=int(input("discount on burger: "))
item3=int(input("discount on coke: "))
item4=int(input("discount on cold coffee: "))
item5=int(input("discount on fries: "))
bill=int(input("total bill= "))
dis=int(input("total discount= "))
payable_amount=int(input("payable amount= "))

 item1: pizza
 item2: burger
 item3: coke
 item4: cold coffee
 item5: fries
 price of pizza: 500
 price of burger:  100
 price of coke: 80
 price of cold coffee: 200
 price of fries: 120
discount on pizza: 50
discount on burger: 10
discount on coke: 8
discount on cold coffee: 20
discount on fries: 12
total bill= 1000
total discount= 100
payable amount= 900
---------

In [ ]:
a=int(input("enter value of a"))
b=int(input("enter value of b"))
sum=a+b
print("sum",sum)
multiply=a*b
print("multiply", multiply)
divide=a/b
print("divide",divide)
subtract=a-b
print("subtract",subtract)

enter value of a40
enter value of b45
sum 85
multiply 1800
divide 0.8888888888888888
subtract -5

In [ ]:
x=int(input("enter number"))

if x % 2==0:
  print("even")
else:
  print("odd")

enter number8
even

In [ ]:
x=int(input("enter number"))
if x % 2==0:
  print("even")
else:
  print("odd")

enter number85
odd

In [ ]:
product1= input("product1 = ")
price_of_product1= int(input("price = "))
dis_on_product1= int(input("discount = "))
discount_on_product1= price_of_product1*dis_on_product1/100
final_price_of_product1= price_of_product1-discount_on_product1
print(final_price_of_product1)
print("-----------------")

product2=input("product2 = ")
price_of_product2=int(input("price of product2 = "))
dis_on_product2=int(input("discount = "))
discount_on_product2=price_of_product2*dis_on_product2/100
final_price_of_product2=price_of_product2-discount_on_product2
print(final_price_of_product2)
print("----------------")

product3=input("product3 = ")
price_of_product3=int(input("price of product3 = "))
dis_on_product3=int(input("discount = "))
discount_on_product3=price_of_product3*dis_on_product3/100
final_price_of_product3=price_of_product3-discount_on_product3
print(final_price_of_product3)
print("----------------")

product4=input("product4 = ")
price_of_product_4=int(input("price of product4 = "))
dis_on_product4=int(input("discount = "))
discount_on_product4=price_of_product_4*dis_on_product4/100
final_price_of_product4=price_of_product_4-discount_on_product4
print(final_price_of_product4)
print("----------------")

total_bill=price_of_product1+price_of_product2+price_of_product3+price_of_product_4
payable_amount=final_price_of_product1+final_price_of_product2+final_price_of_product3+final_price_of_product4
print("total_bill = ",total_bill)
print("------")
print("payable amount = ",payable_amount)
print("---------------------------")

print("__________delivery address__________")
name=input("name = ")
address=input("address_ ")
mobile_no=int(input("mobile no_ "))
print("______thank_you______")

product1 = smart watch
price = 1200
discount = 10
1080.0
-----------------
product2 = laptop
price of product2 = 38000
discount = 10
34200.0
----------------
product3 = mixer grinder
price of product3 = 1000
discount = 10
900.0
----------------
product4 = sun glasses
price of product4 = 850
discount = 10
765.0
----------------
total_bill =  41050
------
payable amount =  36945.0
---------------------------
__________delivery address__________
name = anshika
address_ chandigarh
mobile no_ 7302080109
______thank_you______

In [ ]:
address=input("address_ ")

address_ 3345,sector21d,chandigarh

In [ ]:
item1=input("item1: ")
price1=int(input("price: "))
discount1=int(input("discount: "))
discount_on_item1=price1*discount1/100
final_price_of_item1=price1-discount_on_item1
print(final_price_of_item1)
print("--------")

item2=input("item2: ")
price2=int(input("price: "))
discount2=int(input("discount: "))
discount_on_item2=price2*discount2/100
final_price_of_item2=price2-discount_on_item2
print(final_price_of_item2)
print("--------")

total_bill=price1+price2
total_discount=discount_on_item1+discount_on_item2
total_bill_after_discount=final_price_of_item1+final_price_of_item2
print(total_bill)
print(total_discount)
print("--------")
print(total_bill_after_discount)
delivery_charges=int(input("delivery charges"))
payable_amount=total_bill_after_discount+delivery_charges
print(delivery_charges)
print("--------")
print(payable_amount)
print("------------------")

print("________delivery address________")
name=input("name: ")
address=input("address_ ")
mobile_no=int(input("mobile no_ "))
print("------------")

item1: pizza
price: 250
discount: 10
225.0
--------
item2: coke
price: 80
discount: 10
72.0
--------
330
33.0
--------
297.0
delivery charges60
60
--------
357.0
------------------
________delivery address________
name: vaishnavi
address_ 3345,sector21d,chandigarh
mobile no_ 7302080109
------------

In [ ]:
colour=input("colour: ")
if colour=="red":
  print("stop")
else:
  print("move")

colour: red
stop

In [ ]:
colour=input("colour: ")
if colour=="yellow" or "blue":
  print("happy")
else:
  print("sad")
print("--------")

colour=input("colour: ")
if colour=="green":
  print("stop")
elif colour=="pink":
  print("stop")
else:
  print("move")

colour: yellow
happy
--------
colour: white
move

In [ ]:
gender=input("gender= ")
if gender=="male":
 print("monday, wednesday,friday")
else:
  print("tuesday, thursday, saturday")

gender= female
tuesday, thursday, saturday

In [ ]:
gender=input("gender= ")
if gender=="male":
  print("go")
else:
  print("come")

gender= female
come

In [ ]:
principal_amount=int(input("principal amount"))
rate=int(input("rate"))
time=int(input("time"))
amount=(principal_amount*rate*time)/100
print(amount)

principal amount500
rate4
time5
100.0

In [ ]:
principal=int(input("principal: "))
rate=int(input("rate: "))
month=int(input("month: "))
time_in_days=int(input("time in days"))
time_in_month=(time_in_days/30)
amount=principal*rate*time/100
si=principal*rate*time*time_in_month/100
print(amount)
print(si)
print(amount+si)

principal: 500
rate: 4
month: 5
time in days5
100.0
16.666666666666664
116.66666666666666

In [ ]:
principal=int(input("principal: "))
rate=int(input("rate: "))
time=int(input("month: "))
days=int(input("days: "))
time_in_month=days/30
amount=(principal*rate*time)/100
si=(principal*rate*time*time_in_month/100)
print(amount)
print(si)
print(amount+si)

principal: 15000
rate: 5
month: 6
days: 20
4500.0
3000.0
7500.0

In [ ]:
marks=input("marks: ")
if marks>"30":
 print("pass")
else:
  print("fail")

marks: 55
pass

In [ ]:
principal=40000
rate=10
time_in_months=8
time_in_days=25
print("principal= ",principal)
print("rate= ",rate)
print("time in months =",time_in_months)
print("time in days= ",time_in_days)
total_time=time_in_days/30
amount=principal*rate*time/100
si=principal*rate*time_in_month*total_time/100
print(total_time)
print(amount)
print(si)
print(amount+si)

principal=  40000
rate=  10
time in months = 8
time in days=  25
0.8333333333333334
24000.0
2222.2222222222217
26222.222222222223

In [ ]:
principal=int(input("principal"))
rate=int(input("rate"))
time=int(input("time"))
month=input("month")
days=int(input("days"))
year=int(input("year"))
if month=="jan" or month=="march" or month=="may" or month=="july" or month=="august" or month=="october" or month=="december":
 days_in_month=31
elif month=="april" or month=="june" or month=="september" or month=="november":
  days_in_month=30
if year % 4 ==0 and  year % 100 !=0 or year % 400 ==0:
  days_in_month=29
else:
  days_in_month=28
total_time=days/days_in_month
print(total_time)
amount=principal*rate*time/100
si=principal*rate*time*days_in_month/100
print("amount_", amount)
print("si_",si)
print("total_" ,amount+si)

principal40000
rate10
time5
monthjuly
days10
year2024
0.3448275862068966
amount_ 20000.0
si_ 580000.0
total_ 600000.0

In [ ]:
number=int(input("number= "))
if number % 2==0:
  print("even")
else:
    print("odd")

number= 20
even

In [ ]:
number=int(input("number"))
if number % 7==0 and number % 5==0:
  print("divisible")
else:
  print("not divisible")

number35
divisible

In [ ]:
gender=input("gender")
age=int(input("age"))
if gender=="male":
 print("hotel a")
 if age>30:
  print("building1")
 else:
  print("building2")
else:
  print("hotel b")
  if age>30:
    print("building1")
  else:
    print("building2")

genderfemale
age35
hotel b
building1

In [ ]:
month=input("month_")
days=int(input("days"))
if month=="jan" or month=="march" or month=="may" or month=="july" or month=="august" or month=="october" or month=="december":
 days_in_month=31
elif month=="april" or month=="june" or month=="september" or month=="november":
  days_in_month=30
else:
  days_in_month=28
print("days_in_month",days_in_month)
print(days/days_in_month)

month_july
days10
days_in_month 31
0.3225806451612903

In [ ]:
year=int(input("year"))
if year % 4 ==0 and  year % 100 !=0 or year % 400 ==0:
  days_in_month=29
else:
  days_in_month=28
print("days in month:",days_in_month)

year2025
days in month: 28

In [ ]:
#traffic light system
print("direction= north")
print("----------------")
print("north incoming: go ")
print("south outgoing: go")
print("west outgoing: go")
print("east outgoing: go")
print("north outgoing: go")
print("east incoming: stop")
print("south incoming: stop")
print("west incoming: stop")
print("__________________")
print("direction= south")
print("---------------")
print("south incoming: go")
print("west outgoing: go")
print("north outgoing: go")
print("east outgoing: go")
print("south outgoing: go")
print("west incoming: stop")
print("north incoming: stop")
print("east incoming: stop")
print("__________________")
print("direction= east")
print("--------------")
print("east incoming: go")
print("south outgoing: go")
print("west outgoing: go")
print("north outgoing: go")
print("east outgoing: go")
print("south incoming: stop")
print("west incoming: stop")
print("north incoming: stop")
print("__________________")
print("direction= west")
print("--------------")
print("west incoming: go")
print("north outgoing: go")
print("east outgoing: go")
print("south outgoing: go")
print("west outgoing: go")
print("north incoming: stop")
print("east incoming: stop")
print("south incoming: stop")
print("________________")

direction= north
----------------
north incoming: go
south outgoing: go
west outgoing: go
east outgoing: go
north outgoing: go
east incoming: stop
south incoming: stop
west incoming: stop
__________________
direction= south
---------------
south incoming: go
west outgoing: go
north outgoing: go
east outgoing: go
south outgoing: go
west incoming: stop
north incoming: stop
east incoming: stop
__________________
direction= east
--------------
east incoming: go
south outgoing: go
west outgoing: go
north outgoing: go
east outgoing: go
south incoming: stop
west incoming: stop
north incoming: stop
__________________
direction= west
--------------
west incoming: go
north outgoing: go
east outgoing: go
south outgoing: go
west outgoing: go
north incoming: stop
east incoming: stop
south incoming: stop
________________

In [ ]:
direction=input("direction= ")
if direction=="north incoming" or direction=="east outgoing" or direction=="south outgoing" or direction=="west outgoing" or direction=="north outgoing":
  print("open")
elif direction=="east incoming" or direction=="south incoming" or direction=="west incoming":
  print("close")
else:
  print("invalid direction")
print("_______")
direction=input("direction= ")
if direction=="south incoming" or direction=="west outgoing" or direction=="north outgoing" or direction=="east outgoing" or direction=="south outgoing":
  print("open")
elif direction=="west incoming" or direction=="north incoming" or direction=="east incoming":
  print("close")
else:
   print("invalid direction")
print("______")
direction=input("direction= ")
if direction=="west incoming" or direction=="north outgoing" or direction=="east outgoing" or direction=="south outgoing" or direction=="west outgoing":
  print("open")
elif direction=="north incoming" or direction=="east incoming" or direction=="south incoming":
  print("close")
else:
  print("invalid direction")
print("______")
direction= input("direction= ")
if direction=="east incoming" or direction=="south outgoing" or direction=="west outgoing" or direction=="north outgoing" or direction=="east outgoing":
  print("open")
elif direction=="south incoming" or direction=="west incoming" or direction=="north incoming":
  print("close")
else:
  print("invalid direction")

direction= north incoming
open
_______
direction= west incoming
close
______
direction= south incoming
close
______
direction= east incoming
open

In [ ]:
#loop
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range (0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i
print(sum)

55

In [ ]:
sum=0
for i in range(1,11,2):
  sum=sum+i
print(sum)

25

In [ ]:
sum=0
for i in range(2,13,2):
  sum=sum+i
  print(sum)

2
6
12
20
30
42

In [ ]:
factorial=1
for i in range(1,6):
  factorial=factorial*i
print(factorial)

120

In [ ]:
factorial=1
sum=0
for i in range(1,6):
  factorial=factorial*i
  sum=sum+factorial
print(factorial)
print(sum)

120
153

In [ ]:
#1!+3!+5!+7!
sum=0
for i in range(1,8,2):
  factorial=1
  for j in range(1,i+1):
    factorial=factorial*j
  sum=sum+factorial
  print(sum)
  print(factorial)

1
1
7
6
127
120
5167
5040

In [ ]:
fact=1
for i in range(1,6):
  fact=fact*i
print(fact)

120

In [ ]:
fact=1
sum=0
for i in range(1,6):
  fact=fact*i
  sum=sum+fact
print(fact)
print(sum)

120
153

In [ ]:
#fibonacci
#first term=0 second term=1 is always fix
first_term=0
second_term=1
print(first_term)
print(second_term)
third_term=first_term+second_term
print(third_term)

0
1
1

In [ ]:
first_term=0
second_term=1
print(first_term)
print(second_term)
for i in range(3,13):
  third_term=first_term+second_term
  first_term=second_term
  second_term=third_term
print(third_term)

0
1
89

In [ ]:
first_term=0
second_term=1
print(first_term)
print(second_term)
for i in range(3,11):
  third_term=first_term+second_term
  first_term=second_term
  second_term=third_term
  print(third_term)

0
1
1
2
3
5
8
13
21
34

In [ ]:
sum=0
factorial=1
for i in range(1,7):
  factorial=factorial*i
  if i % 2==0:
    sum=factorial+sum
print(sum)
print(factorial)

746
720

In [ ]:
#double loop
sum=0
for a in range(1,11,2):
  fact=1
for b in range(1,a+1):
  fact=fact*b
  sum=sum+fact
print(fact)
print(sum)

362880
409113

In [ ]:
#factor
#3!+8!+13!+14!+20!+26!=?
#3!+8!+13!=?
sum1=0
for c in range(3,14,5):
   fact=1
   for d in range(1,c+1):
    fact=fact*d
   sum1=sum1+fact
print(sum1)
print(fact)

6227061126
6227020800

In [ ]:
#14!+26!+6!=?
sum2=0
for c in range(14,27,6):
  fact=1
  for d in range(1,c+1):
     fact=fact*d
  sum2=sum2+fact
print(fact)
print(sum2)
print(sum1+sum2)

403291461126605635584000000
403291463559507730938931200
403291463559507737165992326

In [ ]:
#1!+3!+5!+7!
sum=0
for i in range(1,8,2):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  sum=sum+fact
print(fact)
print(sum)

5040
5167

In [ ]:
sum=0
fact=1
for i in range(1,8):
  fact=fact*i
  if i % 2 != 0:
    sum=sum+fact
print(fact)
print(sum)

5040
5167

In [ ]:
#1!+5!+9!=?
sum=0
fact=1
for i in range(1,10):
  fact=fact*i
  if i % 4==1:
   sum=fact+sum
print(fact)
print(sum)

362880
363001

In [ ]:
sum=0
for i in range(1,10,4):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  sum=sum+fact
print(fact)
print(sum)

362880
363001

In [ ]:
#2!+4!+6!+8!=?
sum=0
for i in range(0,9,2):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  sum=sum+fact
print(fact)
print(sum)

40320
41067

In [ ]:
#1!+5!+9!+2!+6!+10!=?
#1!+5!+9!=?
sum1=0
for i in range(1,10,4):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  sum1=sum1+fact
print(fact)
print(sum1)
print("____________")
#2!+6!+10!=?
sum2=0
for i in range(2,11,4):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  sum2=sum2+fact
print(fact)
print(sum2)
print(sum1+sum2)

362880
363001
____________
3628800
3629522
3992523

In [ ]:
#for loop for hcf
a=5
b=15
if a>b:
  smallest=b
else:
  smallest=a
for i in range(1,smallest+1):
 if a % i==0 and b % i==0:
  hcf=i
print(hcf)

5

In [ ]:
#for loop for lcm (product of two number is equal to its lcm and hcf, for example:see refer number 7)
a=10
b=20
if a>b:
  big=a
else:
  big=b
for i in range(big,a*b+1):
  if i % a==0 and i % b==0:
    lcm=i
    break
print(lcm)

20

In [ ]:
#while loop
n=5
while n>0:
  print(n)
  n=n-1

5
4
3
2
1

In [ ]:
n=5
while n<=8:
  print(n)
  n=n+1

5
6
7
8

In [ ]:
n=7
while n<=10:
  print(n)
  n=n+1

7
8
9
10

In [ ]:
num=12345
while num>0:
  digit=num%10
  num=num//10
  print(digit)

5
4
3
2
1

In [ ]:
num=68321
reverse=0
while num>0:
  digit=num%10
  reverse=reverse*10+digit
  num=num//10
print(reverse)

12386

In [ ]:
num=54321
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
print(rev)

12345

In [ ]:
num=1111
a=num
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
print(rev)

if a==rev:
  print("pallin drome")
else:
  print("no pallin drome")

1111
pallin drome

In [ ]:
#while loop for 5 to 25
num=5
sum=0
while num<=25:
  sum=sum+num
  num=num+1
print(sum)

315

In [ ]:
#while loop for sum of 10 to 20 numbers
n=10
sum=0
while n<=20:
  sum=sum+n
  n=n+1
print(sum)

165

In [ ]:
#while loop for 20 table
a=1
sum=0
n=20
while a<=10:
  t=n*a
  a=a+1
  print(t)
  sum=sum+t
print(sum)

20
40
60
80
100
120
140
160
180
200
1100

In [ ]:
# while loop for table of 12
n=1
table=12
while n<=10:
  d=table*n
  n=n+1
  print(d)

12
24
36
48
60
72
84
96
108
120

In [ ]:
n=1
t=12
sum=0
while n<=10:
  o=t*n
  n=n+1
  print(o)
  sum=sum+o
print(sum)

12
24
36
48
60
72
84
96
108
120
660

In [ ]:
name="rajupaisalaya"
print(name[1])
print(name[4:9])
print(name[9:12])
print(name[9:]) #in forward slicing we can leave the space empty instead of writing 13
x="tunemeragoldenchasmabecha"
print(x[8:14])
print(x[8:20])
print(name[4:9]+x[8:20])
name="paisalaya"
print(name[-6])
print(name[-7:-4])
print(name[-5:]) # same as positive indexing

a
paisa
lay
laya
golden
goldenchasma
paisagoldenchasma
s
isa
alaya

In [ ]:
x="maihoonkaun"
print(x[3:7])
y="kaiseho"
print(y[2:5])
z="kabhikabhi"
print(z[0:5])
a="humhihumhai"
print(a[-6:])
b="oyeraju"
print(b[2:5])
print(y[2:5]+z[0:5])

hoon
available
ise
kabhi
humhai
era
isekabhi

In [ ]:
x="maihoonkaun"
print(x[3:7])
if "k" in x:
  print("available")
else:
  print("not available")

hoon
available

In [ ]:
name="chintu"
print(name[:-1])
print(name[::-1])#inbuilt function reverse
print(name[::-2])
print(name[-3:])
print(len(name))

chint
utnihc
unh
ntu
6

In [ ]:
z="kaiseho"
for i in z:
 print(i)
print("------")
for i in range(len(z)):
 print(i)

k
a
i
s
e
h
o
------
0
1
2
3
4
5
6

In [ ]:
a="xyyx"
print(a[::-1])
if a == a[::-1]:
  print("pallin drome")
else:
  print("no pallin drome")

xyyx
pallin drome

In [ ]:
a="zzxxzz"
b=(a[::-1])
if a==b:
  print("pallin drome")
else:
  print("no pallin drome")

pallin drome

In [ ]:
a=" i am ok "
print(a.replace("i","u"))
print(a.endswith(" "))
print(a.startswith("a"))
print(a.strip())

 u am ok
True
False
i am ok

In [ ]:
word="i am fine"
if word[0]=="i":
  print("True")
else:
  print("False")

True

In [ ]:
a=[5,6,7,8,9]
print(a)
print(a[2])
print(a[0]+a[3])
a.append(10)
print(a)
print(a[0:4])
print(a[-5:-2])
print(a[0:])
print(a[ :-1])

[5, 6, 7, 8, 9]
7
13
[5, 6, 7, 8, 9, 10]
[5, 6, 7, 8]
[6, 7, 8]
[5, 6, 7, 8, 9, 10]
[5, 6, 7, 8, 9]

In [ ]:
a=[200,500,400,300]
sum=0
length=len(a)
for i in range (0,length):
 sum=sum+a[i]
 print(sum)

200
700
1100
1400

In [ ]:
#membership function
a=[200,500,400,300]
sum=0
for i in a:
  sum=sum+i
  print(sum)

200
700
1100
1400

In [ ]:
#problem solving
items=[]
prices=[]
discounts=[]
total_dis=0
total_bill=0
x=int(input("enter item number"))
for i in range (x):
  item=input(f"enter item {i+1}: ")
  price=int(input(f"enter price {i+1}: "))
  discount=int(input(f"enter discount{i+1}: "))
  items.append(item)
  prices.append(price)
  discounts.append(discount)
  total_bill +=price
  total_dis=total_dis+price*discount/100
  payable_bill=total_bill-total_dis
#print("items:",items)
#print("prices: ",prices)
#print("discounts: ",discounts)

print(total_bill)
print(total_dis)
print(payable_bill)

enter item number3
enter item 1: pizza
enter price 1: 200
enter discount1: 20
enter item 2: burger
enter price 2: 150
enter discount2: 15
enter item 3: coffee
enter price 3: 180
enter discount3: 18
530
94.9
435.1

In [ ]:
coupon=["X10", "HNY20", "xy15"]
per=[10,20,15]
coupon_code=input("enter coupon: ")

if coupon_code in coupon:
  indexing=coupon.index(coupon_code)
  dis_on_coupon=payable_bill*per[indexing]/100
  print(dis_on_coupon)
  bill=payable_bill-dis_on_coupon
  print(bill)
else:
  ("invalid coupon code")
  print(payable_bill)

enter coupon: xy15
30.0
170.0

In [ ]:
items=["pizza","burger","cold coffee","coke","blue pacifico","mojito","soup","fusion","pasta","flat bread"]
price=[50,60,70,50,100,150,55,90,145,100]
print("items=",items)
print("price:",price)
print("__________")
total_bill=0
discount=[10]
total_per_on_dis=0
for i in price:
  total_bill +=i
print("total bill:", total_bill)
for i in discount:
  total_per_on_dis +=i
discount_amount=total_bill*total_per_on_dis/100
print("discount amount:" ,discount_amount)
payable_bill=total_bill-discount_amount
print("________")
print("payable_bill:", payable_bill)

items= ['pizza', 'burger', 'cold coffee', 'coke', 'blue pacifico', 'mojito', 'soup', 'fusion', 'pasta', 'flat bread']
price: [50, 60, 70, 50, 100, 150, 55, 90, 145, 100]
__________
total bill: 870
discount amount: 87.0
________
payable_bill: 783.0

In [19]:
items=["pizza","burger","cold coffee","coke","blue pacifico","pasta"]
price=[100,80,50,120,100,130]
total_bill=0
for i in range(len(items)):
  print(items[i])
for i in range(len(price)):
  print(price[i])
  total_bill += price[i]
  print("_____")
print(total_bill)

pizza
burger
cold coffee
coke
blue pacifico
pasta
100
_____
80
_____
50
_____
120
_____
100
_____
130
_____
580

In [ ]:
discount=[5,6,7,5,10,15,6,10,15,10]
print(discount[0]+discount[1]+discount[2]+discount[3]+discount[4]+discount[5]+discount[6]+discount[7]+discount[8]+discount[9])

89

In [ ]:
name="xyza"
rev=" "
for b in name:
  rev=b+rev
print(rev)
print("_________")
for b in name:
  rev=rev+b
print(rev)

azyx
_________
azyx xyza

In [ ]:
n=2116
t=n**0.5
print(t)

46.0

In [ ]:
n=1331
cube_root=n**(1/3)
print(cube_root)
y=27
s=y**(1/3)
print(s)

10.999999999999998
3.0

In [ ]:
n=1
sum1=0
t1=19
while n<=10:
  s1=t1*n
  n=n+1
  print(s1)
  sum1=sum1+s1
print(sum1)
n=1
sum2=0
t2=20
while n<=10:
  s2=n*t2
  n=n+1
  print(s2)
  sum2=sum2+s2
print(sum2)
total=sum1+sum2
print(total)
average=total/20
print(average)

19
38
57
76
95
114
133
152
171
190
1045
20
40
60
80
100
120
140
160
180
200
1100
2145
107.25

In [ ]:
#forward or positive indexing
name="vaishnavi"
print(name[3:6])
print(name[5])

shn
n

In [ ]:
#negative indexing
name="vaishnavi"
print(name[-7])
print(name[-5:-2])

i
hna

In [ ]:
str="my name is vaishnavi"
print(str.endswith("name"))
print(str.capitalize())
print(str.replace("vaishnavi","sharma"))
print(str.find("a"))
print(str.count("i"))
print(str.upper())
print(str.lower())
print(str.title())

False
My name is vaishnavi
my name is sharma
4
3
MY NAME IS VAISHNAVI
my name is vaishnavi
My Name Is Vaishnavi

In [ ]:
name=input("name=")
print("name",len(name))

name=vaishnavi
name 9

In [ ]:
#list and tuple
#strings are immutable and list are mutable in pyhton
course=["data analytics", "data science", "data engineering"]
print(course)
print(type(course))#without square bracket it will be a tuple type and not list

course[1]="data entry"
print(course)
print(course[2])#indexing
print(course[:2])#slicing
print(course[-3:-1])#negative indexing in list

['data analytics', 'data science', 'data engineering']
<class 'list'>
['data analytics', 'data entry', 'data engineering']
data engineering
['data analytics', 'data entry']
['data analytics', 'data entry']

In [ ]:
list=[52,65,75,85]
print(list)
list.append(58)#to add something new in the earlier list
print(list)
list.sort()#to arrange values in ascending order
print(list)
list.sort(reverse=True)
print(list)
list.reverse()
print(list)

[52, 65, 75, 85]
[52, 65, 75, 85, 58]
[52, 58, 65, 75, 85]
[85, 75, 65, 58, 52]
[52, 58, 65, 75, 85]
[52, 58, 65, 75, 85, 76]