<a href="https://colab.research.google.com/github/vaishnavilawaniya756-web/SHARMA/blob/main/lAWANIYA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first_number=10
second_number=20
print(first_number+second_number)

30

In [ ]:
a=500
b=100
sum=a+b
print("sum =",sum)
sub=a-b
print("sub =",sub)
multiply=a*b
print("multiply =",multiply)
divide=a/b
print("divide =",divide)

sum = 600
sub = 400
multiply = 50000
divide = 5.0

In [ ]:
#restaurant billing project
item1="pizza"
price_of_item1=500
item2="burger"
price_of_item2=100
item3="coke"
price_of_item3=80
item4="cold_coffee"
price_of_item4=200
item5="fries"
price_of_item5=120
discount_on_pizza=50
discount_on_burger=10
discount_on_coke=8
discount_on_cold_coffee=20
discount_on_fries=12
name="vaishnavi"
house_no=3345
mobile_no=7302080109
total_bill=(price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5)
total_discount=(discount_on_pizza+discount_on_burger+discount_on_coke+discount_on_cold_coffee+discount_on_fries)
payable_bill=total_bill-total_discount

print(".........cool cafe........")
print("...receipt...")
print(item1,"=",price_of_item1)
print(item2,"=",price_of_item2)
print(item3,"=",price_of_item3)
print(item4,"=",price_of_item4)
print(item5,"=",price_of_item5)
print("-------------")
print("dis on pizza: ",discount_on_pizza)
print("dis on burger: ",discount_on_burger)
print("dis on coke: ",discount_on_coke)
print("dis on cold coffee: ",discount_on_cold_coffee)
print("dis on fries: ",discount_on_fries)
print("------------")
print("total_bill :",total_bill)
print("total discount:",total_discount)
print("---------")
print("payable_bill :",payable_bill)
print("-------------------")
print("----------delivery_address-------")
print("name",name)
print("house_no: ",house_no)
print("mobile_no",mobile_no)

.........cool cafe........
...receipt...
pizza = 500
burger = 100
coke = 80
cold_coffee = 200
fries = 120
-------------
dis on pizza:  50
dis on burger:  10
dis on coke:  8
dis on cold coffee:  20
dis on fries:  12
------------
total_bill : 1000
total discount: 100
---------
payable_bill : 900
-------------------
----------delivery_address-------
name vaishnavi
house_no:  3345
mobile_no 7302080109

In [ ]:
item1=input(" item1: ")
item2=input(" item2: ")
item3=input(" item3: ")
item4=input(" item4: ")
item5=input(" item5: ")
item1=int(input(" price of pizza: "))
item2=int(input(" price of burger:  "))
item3=int(input(" price of coke: "))
item4=int(input(" price of cold coffee: "))
item5=int(input(" price of fries: "))
item1=int(input("discount on pizza: "))
item2=int(input("discount on burger: "))
item3=int(input("discount on coke: "))
item4=int(input("discount on cold coffee: "))
item5=int(input("discount on fries: "))
bill=int(input("total bill= "))
dis=int(input("total discount= "))
payable_amount=int(input("payable amount= "))

 item1: pizza
 item2: burger
 item3: coke
 item4: cold coffee
 item5: fries
 price of pizza: 500
 price of burger:  100
 price of coke: 80
 price of cold coffee: 200
 price of fries: 120
discount on pizza: 50
discount on burger: 10
discount on coke: 8
discount on cold coffee: 20
discount on fries: 12
total bill= 1000
total discount= 100
payable amount= 900
---------

In [ ]:
a=int(input("enter value of a"))
b=int(input("enter value of b"))
sum=a+b
print("sum",sum)
multiply=a*b
print("multiply", multiply)
divide=a/b
print("divide",divide)
subtract=a-b
print("subtract",subtract)

enter value of a40
enter value of b45
sum 85
multiply 1800
divide 0.8888888888888888
subtract -5

In [ ]:
x=int(input("enter number"))

if x % 2==0:
  print("even")
else:
  print("odd")

enter number8
even

In [ ]:
x=int(input("enter number"))
if x % 2==0:
  print("even")
else:
  print("odd")

enter number85
odd

In [6]:
print("----product details---")
product1="bedsheet"
product2="led lights"
product3="room decor"
price_of_product1=500
price_of_product2=400
price_of_product3=1000
print(product1, "=" ,price_of_product1)
print(product2, "=" ,price_of_product2)
print(product3, "=" ,price_of_product3)
print("--------")
discount_on_bedsheet=50
discount_on_led_lights=40
discount_on_room_decor=100
print("discount on bedsheet = ",discount_on_bedsheet)
print("discount on led lights = ",discount_on_led_lights)
print("discount on room decor = ",discount_on_room_decor)

----product details---
bedsheet = 500
led lights = 400
room decor = 1000
--------
discount on bedsheet =  50
discount on led lights =  40
discount on room decor =  100