<a href="https://colab.research.google.com/github/vaishnavilawaniya756-web/SHARMA/blob/main/lAWANIYA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first_number=10
second_number=20
print(first_number+second_number)

30

In [ ]:
a=500
b=100
sum=a+b
print("sum =",sum)
sub=a-b
print("sub =",sub)
multiply=a*b
print("multiply =",multiply)
divide=a/b
print("divide =",divide)

sum = 600
sub = 400
multiply = 50000
divide = 5.0

In [ ]:
#restaurant billing project
item1="pizza"
price_of_item1=500
item2="burger"
price_of_item2=100
item3="coke"
price_of_item3=80
item4="cold_coffee"
price_of_item4=200
item5="fries"
price_of_item5=120

name="vaishnavi"
house_no=3345
mobile_no=7302080109
total_bill=(price_of_item1+price_of_item2+price_of_item3+price_of_item4+price_of_item5)
discount_on_total_bill=10
total_dis=total_bill*discount_on_total_bill/100
payable_bill=total_bill-total_dis

print(".........cool cafe........")
print("...receipt...")
print(item1,"=",price_of_item1)
print("dis_pizza =",dis_pizza)
print("amount_of_pizza :",amount_of_pizza)
print(".....")
print(item2,"=",price_of_item2)
print("dis_burger =",dis_burger)
print("amount_of_burger :",amount_of_burger)
print(".....")
print(item3,"=",price_of_item3)
print("dis_coke =",dis_coke)
print("amount_of_coke :",amount_of_coke)
print(".....")
print(item4,"=",price_of_item4)
print("dis_cold_coffee =",dis_cold_coffee)
print("amount_of_cold_coffee :",amount_of_cold_coffee)
print(".....")
print(item5,"=",price_of_item5)
print("dis_fries =",dis_fries)
print("amount_of_fries :",amount_of_fries)
print("......")
print("total_bill :",total_bill)
print("total dis :",total_dis)
print(".......")
print("payable_bill :",payable_bill)
print("----------delivery_address-------")
print("name",name)
print("house_no: ",house_no)
print("mobile_no",mobile_no)

.........cool cafe........
...receipt...
pizza = 500
dis_pizza = 50.0
amount_of_pizza : 450.0
.....
burger = 100
dis_burger = 10.0
amount_of_burger : 90.0
.....
coke = 80
dis_coke = 8.0
amount_of_coke : 72.0
.....
cold_coffee = 200
dis_cold_coffee = 20.0
amount_of_cold_coffee : 180.0
.....
fries = 120
dis_fries = 12.0
amount_of_fries : 108.0
......
total_bill : 900.0
total dis : 90.0
.......
payable_bill : 810.0
----------delivery_address-------
name vaishnavi
house_no:  3345
mobile_no 7302080109

In [ ]:
item1=input("enter your item: ")
item2=input("enter your item: ")
item3=input("enter your item: ")
item4=input("enter your item: ")
item5=input("enter your item: ")

enter your item: pizza
enter your item: burger
enter your item: coke
enter your item: cold_coffee]
enter your item: fries

In [ ]:
a=int(input("enter value of a"))
b=int(input("enter value of b"))
sum=a+b
print("sum",sum)
multiply=a*b
print("multiply", multiply)
divide=a/b
print("divide",divide)
subtract=a-b
print("subtract",subtract)

enter value of a40
enter value of b45
sum 85
multiply 1800
divide 0.8888888888888888
subtract -5

In [ ]:
x=int(input("enter number"))

if x % 2==0:
  print("even")
else:
  print("odd")

enter number8
even