<a href="https://colab.research.google.com/github/vaishnavilawaniya756-web/SHARMA/blob/main/vaishnavi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("HELLO, MY NAME IS VAISHNAVI.")

HELLO, MY NAME IS VAISHNAVI.

In [ ]:
#biodata
print("Name:  Vaishnavi Sharma")
print("date of birth:  30-05-2001")
print("Age:  24")
print("Qualification:  M.COM")
print("College:  BRAU")
print("Skill:  pursuing data analyst")
print("Mobile_no.  7302080109")
print("email address:  vaishnavilawaniya756@gmail.com")
print("address:  shonkh adda, goverdhan,mathura")
print("language known:  hindi and english")
print("marital status:  single")
print("nationality:  indian")
print("Father Name:  Sanjay Sharma")
print("Mother Name:  priyanka Sharma")
print("Hobbies:  singing,calligraphy and playing badminton")

Name:  Vaishnavi Sharma
date of birth:  30-05-2001
Age:  24
Qualification:  M.COM
College:  BRAU
Skill:  pursuing data analyst
Mobile_no.  7302080109
email address:  vaishnavilawaniya756@gmail.com
address:  shonkh adda, goverdhan,mathura
language known:  hindi and english
marital status:  single
nationality:  indian
Father Name:  Sanjay Sharma
Mother Name:  priyanka Sharma
Hobbies:  singing,calligraphy and playing badminton

In [ ]:
name= "vaishnavi"
print("name",name)

name vaishnavi

In [ ]:
hobbies="singing,calligraphy and playing badminton"
print("hobbies",hobbies)

hobbies singing,calligraphy and playing badminton

In [ ]:
how_are_you= "i am fine"
print("how_are_you",how_are_you)

how_are_you i am fine

In [4]:
first_number=52
second_number=50
sum=first_number+second_number
print("sum:",sum)
sub=first_number-second_number
print("sub:" ,sub)

sum: 102
sub: 2

In [7]:
name="vaishnavi sharma"
print(name)
passion="singing"
print(passion)

vaishnavi sharma
singing

In [9]:
marks=int(input("marks"))
if marks==90 or marks==95:
  print("excellent")
elif marks==80 or marks==85:
  print("a+")
else:
  print("pass")

marks85
a+

In [17]:
marks=int(input("marks_"))
grade=input("grade=")
if marks>90 and grade=="a":
 print("excellent")
else:
  print("pass")

marks_98
grade=b
pass

In [18]:
month=input("month_ ")
if month=="january" or month=="march" or month=="may" or month=="july" or month=="august" or month=="october" or month=="december":
  print(31)
elif month=="april" or month=="june" or month=="september" or month=="november":
  print(30)
else:
  print(28)

month_ august
31

In [22]:
month=input("month_ ")
if month=="january" or month=="march" or month=="may" or month=="july" or month=="august" or month=="october" or month=="december":
  days_in_month=31
elif month=="april" or month=="june" or month=="september" or month=="november":
  days_in_month=30
else:
  days_in_month=28
print("days-",days_in_month)

month_ april
days- 30

In [25]:
hotel=input("hotel_ ")
net_worth=int(input("net worth: "))
if hotel=="taj":
  print("beautiful")
  if net_worth>=200000:
    print("expensive")
  else:
    print("cheap")
else:
  print("decent")
  if net_worth>=200000:
     print("expensive")
  else:
    print("cheap")

hotel_ taj
net worth: 500000
beautiful
expensive

In [1]:
principal=int(input("principal: "))
rate=int(input("rate: "))
time=int(input("time: "))
amount=(principal*rate*time)/100
print(amount)

principal: 40000
rate: 10
time: 9
36000.0

In [2]:
principal=40000
rate=10
time_in_month=8
days=20
day_in_month=days/30
amount=(principal*rate*time_in_month)/100
si=principal*rate*time_in_month*day_in_month/100
print(amount)
print(si)
print(amount+si)

32000.0
21333.33333333333
53333.33333333333

In [7]:
principal=40000
rate=10
month="july"
print(month)
if month=="january" or month=="march" or month=="may" or month=="july" or month=="august" or month=="october" or month=="december":
  days_in_month=31
elif month=="april" or month=="june" or month=="september" or month=="november":
  days_in_month=30
else:
  days_in_month=28
time_in_month=8
days=20
total_time=days/days_in_month
amount=(principal*rate*time_in_month)/100
si=principal*rate*time_in_month*total_time/100
print(amount)
print(si)
print(amount+si)

july
32000.0
20645.16129032258
52645.161290322576